* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.input-box {
    display: inline;
    padding: 10px
}

.flex {
    display: flex;
}

.cashflow-box {
    padding: 20px;
}

.divTable {
    display: table;
}

.divRow {
    display: table-row;
}

.divCell {
    display: table-cell;
    padding: 0px 10px;
}

.divCell.verb .earn {
}

.divCell.verb .spend {
}

.divCell.fill {
    color: grey;
}

.divCell.amount {
    text-align: right;
}

.divCell.amount .earn {
    color: lightseagreen;
}

.divCell.amount .spend {
    color: tomato;
}

.divCell.cat {
    color: dodgerblue;
}
