* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.input-box {
    display: inline;
    padding: 10px
}

.flex {
    display: flex;
}

.cashflow-view {
    padding: 20px;
}

.cashflow-input {
    padding-right: 20px;
}

.cashflow-result {
    padding: 3px;
}

.parsed-box {
    padding: 3px;
}

.divTable {
    display: table;
}

.divRow {
    display: table-row;
}

.divCell {
    display: table-cell;
    padding: 0px 10px;
    white-space: nowrap;
}

.divCell.invalid {
    color: red;
}

.divCell.verb .earn {
}

.divCell.verb .spend {
}

.divCell.fill {
    color: grey;
}

.divCell.amount {
    text-align: right;
}

.divCell.amount .earn {
    color: lightseagreen;
}

.divCell.amount .spend {
    color: tomato;
}

.divCell.cat {
    color: dodgerblue;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover {
    color: green;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}